<?php 

// rename to config.php and edit as needed

$config = [
	'test_stream' => [
	    'host' => 'localhost',
	    'database' => 'test_stream',
	    'user' => '',
	    'password' => '',
	],
    'host' => 'localhost',
    'database' => 'stream',
    'user' => '',
    'password' => '',

    'template_path' => 'templates',
    'title' => 'Stream',
    'cache_ttl' => '600'
];
