<phpunit bootstrap="bootstrap.php">
    <testsuites>

        <testsuite name="Lib">
            <directory>tests</directory>
        </testsuite>

        <testsuite name="modules">
            <directory>modules</directory>
        </testsuite>

    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">

            <directory suffix=".php">lib/Stream</directory>
            <directory suffix=".php">modules</directory>

            <exclude>
            
                <directory>modules/*/tests</directory>
                <directory>modules/*/templates</directory>

                <file>lib/Stream/Request.php</file>
                <file>lib/Stream/RedisCache.php</file>
            
            </exclude>
        </whitelist>
    </filter>
</phpunit>
