<phpunit bootstrap="bootstrap.php">
	<testsuites>
		<testsuite name="framework">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">model</directory>
			<directory suffix=".php">controllers</directory>
			<directory suffix=".php">system</directory>
		</whitelist>
	</filter>
</phpunit>
