<div class="modal-header">
    <h3 class="modal-title">Delegate task to <strong>{{task.delegate.email}}</strong>?</h3>
</div>
<div class="modal-body">
    <h1>{{task.title}}</h1>
    <p ng-bind-html="task.description | wizMarkdownFltr"></p>
    <div class="checkbox">
        <label>
            <input type="checkbox" disabled> Send notification by email (depends on user settings)
        </label>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">No, not now</button>
    <button class="btn btn-primary" ng-click="confirm()">Yes, delegate this task</button>
</div>
