<div>
    <form method="POST" action="/user/login" class="jumbotron">
        <div class="form-group" ng-class="{'has-error': section.error.email}">
            <label>Email</label>
            <input id="email" type="email" ng-model="section.user.email" class="form-control"/>
            <div class="help-block" ng-bind="section.error.email"></div>
        </div>
        <div class="form-group" ng-class="{'has-error': section.error.password}">
            <label>Password</label>
            <input id="password" type="password" ng-model="section.user.password" class="form-control"/>
            <div class="help-block">{{section.error.password}}</div>
        </div>
        <button id="sign-in-btn" class="btn btn-primary" ng-click="section.login($event)">Sign In</button>
    </form>
</div>
