<form class="jumbotron">
    <div class="form-group" ng-class="{'has-error':section.error.email}">
        <label>Email</label>
        <input id="email"
            type="email"
            class="form-control"
            ng-model="section.user.email"/>
        <div class="help-block" ng-bind-html="section.error.email"></div>
    </div>
    <div class="form-group" ng-class="{'has-error':section.error.password}">
        <label>Password</label>
        <input id="password" type="password" class="form-control" ng-model="section.user.password"/>
        <div class="help-block" ng-bind="section.error.password"></div>
    </div>
    <div class="form-group" ng-class="{'has-error':section.error.password2}">
        <label>Repeat password</label>
        <input id="password2" type="password" class="form-control" ng-model="section.user.password2"/>
        <div class="help-block" ng-bind="section.error.password2"></div>
    </div>
    <button id="register-btn" class="btn btn-primary" ng-click="section.register($event, section.user)">Register</button>
</form>
