<section>

    <div class="alert alert-success text-center"
        ng-show="section.tasks.length < 10 ? false : true">
        <strong>Stay focused!</strong>
    </div>
    <form class="jumbotron" ng-show="section.tasks.length >= 10 ? false : true">

        <div class="form-group">
            <input class="form-control"
                type="text"
                placeholder="Working on anything? Start typing here to create a task"
                id="title"
                autocomplete="off"
                ng-model="section.task.title"/>
        </div>

        <div class="form-group" ng-show="section.task.title.length > 7 || section.task.description">
            <label>Description</label>
            <textarea id="description"
                    class="form-control"
                    rows="5"
                    placeholder="Do you have any requirements?"
                    ng-model="section.task.description"></textarea>
        </div>

        <button ng-show="section.task.title"
                ng-click="section.add(section.task)"
                id="save-btn"
                class="btn btn-primary">Save</button>
        Tasks are not editable! <strong>Think carefully.</strong>

    </form>

    <div id="tasks-container">

        <div ng-class="{'panel-primary': task.focus == 1, 'panel-info': task.focus == 0}"
            class="panel"
            ng-repeat="task in section.tasks | orderBy:['-focus', '-created']">

            <div class="panel-heading">
                <div class="row">

                    <div class="col-sm-3">
                        
                        <strong>#{{task.id}}</strong>

                        <button class="btn btn-xs btn-success" ng-click="section.delete(task)">
                            <i class="glyphicon glyphicon-ok"></i> Done</button>

                        <button title="Focus"
                            class="btn btn-xs"
                            ng-class="task.focus == 0 ? 'btn-default' : 'btn-primary'"
                            ng-click="section.focus(task)">{{task.focus == 1 ? 'Distract':'Focus'}}</button>

                    </div>

                    <div class="col-sm-6"><strong>{{task.title}}</strong></div>
                    <div class="col-sm-3 text-right">

                        <form class="form-inline" ng-show="task.focus == 1">
                            <div class="form-group">
                                <input type="text"
                                    ng-model="task.delegate.email"
                                    placeholder="Email or user name" 
                                    class="form-control input-xs"/>

                            </div>
                            <button ng-disabled="task.delegate.email ? false : true"
                                ng-click="section.delegate(task)"
                                class="btn btn-xs btn-info">Delegate</button>
                        </form>
                        <span ng-show="task.focus == 0 && task.delegate.email">to <strong>{{task.delegate.email}}</strong></span>
                        <button ng-show="task.focus == 0" class="btn btn-xs btn-danger"
                            ng-click="section.delete(task)">
                            <i class="glyphicon glyphicon-remove"></i> Dismiss</button>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="col-sm-offset-3 col-sm-6">{{task.description ? task.description : task.title}}</div>
                <div class="col-sm-3">
                    by <strong>{{task.user.email}}</strong>
                    <br/>{{task.created}}
                </div>
            </div>

        </div>
    </div>

</section>
